# Python
**/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
*.swp

# Project Specific
.backup/
*.apkg
*.colpkg
output/

# Generated logs or temp files
*.log
*.tmp

# Coverage reports
.coverage
coverage.*
htmlcov/

**/*cache*
**/*tmp*

*.spec
