# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp

# Project Specific
.backup/
*.apkg
*.colpkg

# Generated logs or temp files
*.log
*.tmp